<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>OfflinePublicVK</title>
</head>
<body>
    <h1>OfflinePublicVK</h1>
    <div class="main">
        <p>Для получения доступа к паблику введите id паблика</p>
         <form>
            <input type="text" id="gid">
            <input type="checkbox" id="test"> test
            <input type="button" onClick="redirect()" value="Сохранить">
         </form>
        <p>или напишите в адресной строке следующее: localhost:9999/ID-Паблика</p>
    </div>
     <script>
        function redirect() {
            var numb = document.getElementById("gid").value;
            if (numb == '') {
                alert ('Введите id паблика')
            }
            else {
                if (document.getElementById("test").checked) {
                    var test = '&test';
                }
                else {
                    var test = '';
                }
                window.location.href = 'http://localhost:9999/' + numb + test;
            }
        } 
    </script>
</body>
</html>