<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>OfflinePublicVK</title>
        <script type="text/javascript">
        function redirect(f) {
            d = parseInt(f.num.value);
            if (isNaN(d)) {
                alert ('Введите id паблика')
            }
            else {
                window.location.href = d;
            }
        }
    </script>
</head>
<body>
    <h1>OfflinePublicVK</h1>
    <div class="main">
        <p>Для получения доступа к паблику введите id паблика</p>
         <form onSubmit="redirect(this); return false">
            <input type="text" name="num">
            <input type="submit" value="Сохранить">
         </form>
        <p>или напишите в адресной строке следующее: localhost:9999/ID-Паблика</p>
    </div>
</body>
</html>