<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Пабл</title>
    <link rel="stylesheet" href="style.css" />

</head>

<body>
<div id="top-block">
    OfflinePublicVK
</div>
   <div id="wall">
    <div id="post">
    % for idd in ids:
        % if len(Pic.select().where(Pic.post_id == idd)) > 1:
        % for pic in Pic.select().where(Pic.post_id == idd):
        <img alt="picture" src='{{ idd }}_pic_{{ pic.id }}.jpg' />
        % end
        <hr>
        % end
        % if len(Pic.select().where(Pic.post_id == idd)) == 1:
        % pic = Pic.select().where(Pic.post_id == idd).get()
        <img src='{{ idd }}_pic_{{ pic.id }}.jpg' />
        <hr>
        %end
        <img src='{{ idd }}_pic.jpg' />
    <br />
    <div id="comments" onclick="$('#comments').hide()">
    %for comment in Comments.select().where(Comments.post_id == idd):
        <h5>{{ comment.text }}</h5>
    %end
        </div>
    %end
    <br />
       </div>
</div>
</body>
</html>
