<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пабл</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>
<div id="top-block">
    OfflinePublicVK
</div>
   <div id="wall">
    <div id="post">
    % for idd in ids:
    <img src='{{ idd }}_pic.jpg'>
    <br>
    <div id="comments" onclick="$('#comments').hide()">
    %for comment in Comments.select().where(Comments.post_id == idd):
        <h5>{{ comment.text }}</h5>
    %end
        </div>
    %end
    <br>
       </div>
</div>
</body>
</html>
